@* Importation des espaces de noms nécessaires *@
@using Webzine.Entity.Fixtures
@* Injection du générateur de données*@
@inject Factory data

@{
    // Définition du titre de la page
    ViewData["Title"] = "Accueil";
    // Génération de 5 artistes
    var artistes = data.GenerateArtistes(5);
}

<h1>Liste des artistes</h1>

<ul>
    @* Boucle à travers chaque artiste généré *@
    @foreach (var artiste in artistes)
    {
        <li>Id : @artiste.IdArtiste</li>
        // Affichage de l'ID de l'artiste
        <li>Nom : @artiste.Nom</li>
        // Affichage du nom de l'artiste
        <li>Biographie : @artiste.Biographie</li>
        // Affichage de la biographie de l'artiste
        <li>
            Titres :
            <ul>
                @*Boucle à travers chaque titre de l'artiste*@
                @foreach (var titre in artiste.Titres)
                {
                    <li>@titre.Libelle</li>
                    // Affichage du libellé du titre
                }
            </ul>
        </li>
        <br />
    }
</ul>

<h1>Liste des titres</h1>

<ul>
    @* Génération et affichage de 10 titres *@
    @for (int i = 0; i < 10; i++)
    {
        var titre = data.GenerateTitre(); // Génération d'un titre
        <li>Id : @titre.IdTitre</li>
        // Affichage de l'ID du titre
        <li>Titre : @titre.Libelle</li>
                // Affichage du libellé du titre
        <li>Album : @titre.Album</li>
        // Affichage de l'album du titre
        // Affichage de la jaquette de l'album
        <li>Jaquette : <br /> <img src="@titre.UrlJaquette" alt="Jaquette" class="img-fluid" style="max-width: 100px;" /></li>
        <li>Artiste : @titre.Artiste.Nom</li>
        // Affichage du nom de l'artiste associé
        <li>Date de sortie : @titre.DateSortie.ToString("dd/MM/yyyy")</li>
        // Affichage de la durée du titre en minutes et secondes
        <li>Durée : @(titre.Duree / 60):@(titre.Duree % 60 < 10 ? "0" + (titre.Duree % 60) : titre.Duree % 60)</li>
        <li><a href="@titre.UrlEcoute" target="_blank">Lien d'écoute</a></li>
        <li>
            Commentaires :
            <ul>
                @* Boucle à travers chaque commentaire du titre *@
                @foreach (var commentaire in titre.Commentaires)
                {
                    <li>
                        <strong>@commentaire.Auteur</strong> le @commentaire.DateCreation.ToString("dd/MM/yyyy") :
                        <p>@commentaire.Contenu</p>
                    </li>
                }
            </ul>
        </li>
        <br />
    }
</ul>

<h1>Liste des styles</h1>

<ul>
    @* Boucle à travers chaque style généré *@
    @foreach (var style in data.GenerateStyles(5))
    {
        <li>Id : @style.IdStyle</li>
        // Affichage de l'ID du style
        <li>Style : @style.Libelle</li>
        // Affichage du libellé du style
        <br />
    }
</ul>
