@model Webzine.WebApplication.Areas.Administration.ViewModels.AdministrationDashboardModel

@{
    ViewBag.Title = "Tableau de bord";
}

<h1 class="mb-1">Tableau de bord</h1>
<hr />
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-1">
    <card-info class="fa-solid fa-users" f-color="text-primary" for="@Model.NbArtistes" sub-for="artistes"></card-info>
    <card-info class="fa-solid fa-user" f-color="text-primary" for="@((Model.ArtisteLePlusChronique?.Nom ?? "Aucun artiste"))" sub-for="artiste le plus chronique"></card-info>
    <card-info class="fa-solid fa-trophy" f-color="text-primary" for="@((Model.ArtisteComposeLePlusTitres?.Nom ?? "Aucun artiste"))" sub-for="artiste avec le plus de titres provenant d'albums distincts"></card-info>

    @{
        // Vérifier si Model.TitreLePlusLu est null ou non
        string titreLePlusLu = Model.TitreLePlusLu != null
        ? $"{Model.TitreLePlusLu.Artiste.Nom ?? "Aucun Artiste"} - {Model.TitreLePlusLu.Libelle ?? "Aucun Titre"}"
        : "Aucun Titre";
    }
    <card-info class="fa-solid fa-book" f-color="text-primary" for="@Model.NbBiographies" sub-for="biographies d'artistes"></card-info>
    <card-info class="fa-solid fa-compact-disc" f-color="text-primary" for="@titreLePlusLu" sub-for="titre le plus lu"></card-info>
    <card-info class="fa-solid fa-music" f-color="text-primary" for="@Model.NbTitres" sub-for="titres"></card-info>
    
    <card-info class="fa-solid fa-tags" f-color="text-primary" for="@Model.NbStyles" sub-for="styles de musique"></card-info>
    <card-info class="fa-solid fa-eye" f-color="" for="@Model.NbLectures" sub-for="lectures"></card-info>
    <card-info class="fa-solid fa-thumbs-up" f-color="" for="@Model.NbLikes" sub-for="likes"></card-info>
</div>