@using Webzine.Entity;
@model Webzine.WebApplication.ViewModels.TitreModel

@{
    Commentaire displayCommentaire = new();
    this.ViewBag.Title = Model.Titre.Libelle;
}

<div class="container-fluid mt-4 mt-md-5">
    <div class="row">
        <!-- Contenu principal -->
        <div class="col-12 col-lg-10 mb-4">
            <div>
                <h1 class="h2 mb-3">
                    <a asp-controller="Artiste" asp-action="Index" asp-route-nomArtiste="@Model.Titre.Artiste.Nom"
                       class="text-primary text-decoration-none">
                        @Model.Titre.Artiste.Nom
                    </a> - <span class="h1">@Model.Titre.Libelle</span>
                </h1>
                <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between mb-3 mb-md-2 small">
                    <div class="d-flex flex-wrap gap-3 gap-md-4 mb-2 mb-md-0">
                        <p class="mb-0 text-dark">
                            <i class="fa-solid fa-calendar"></i>
                            @Model.Titre.DateCreation.ToString("dd/MM/yyyy") à
                            @Model.Titre.DateCreation.ToString("HH:mm")
                        </p>
                        <p class="mb-0 text-dark">
                            <i class="fa-solid fa-heart text-dark"></i> @Model.Titre.NbLikes
                        </p>
                        <p class="mb-0 text-dark">
                            <i class="fa-solid fa-tags"></i> Styles :
                            @foreach (var style in Model.Titre.Styles)
                            {
                                <a asp-controller="Titre" asp-action="Style" asp-route-nomStyle="@style.Libelle"
                                   class="text-decoration-none">@style.Libelle</a>
                            }
                        </p>
                    </div>
                    <div class="d-flex gap-3 gap-md-4 align-items-center">
                        <form asp-area="" asp-controller="Titre" asp-action="Liker" method="post">
                            <input type="hidden" name="idTitre" value="@Model.Titre.IdTitre" />
                            <button type="submit" class="btn btn-outline-primary btn-sm">
                                <i class="fa-solid fa-thumbs-up"></i> Like
                            </button>
                        </form>
                        <a asp-area="Administration" asp-controller="Titre" asp-action="Edit"
                           asp-route-id="@Model.Titre.IdTitre" class="text-primary text-decoration-none">
                            <i class="fa-solid fa-pen-to-square"></i> Éditer
                        </a>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="col-lg-12 pt-4 pt-lg-0">
                        <img src="@Model.Titre.UrlJaquette" class="float-end imgshadow m-2" width="200" height="200" alt="Jaquette" />
                        <p align="justify">@Model.Titre.Chronique</p>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="ratio ratio-16x9">
                        <iframe src="@Model.Titre.UrlEcoute" title="YouTube video" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h3 class="h7">Donne ton avis sur le titre</h3>
                <form asp-action="Commenter" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <div class="row">
                            <!-- Colonne pour les labels (visible uniquement sur grands écrans) -->
                            <div class="col-md-3 d-none d-md-block">
                                <label asp-for="Commentaire.Auteur" class="form-label">@Html.DisplayNameFor(m => m.Commentaire.Auteur)<span class="text-danger">*</span></label>
                                <div class="mb-4"></div>
                                <label asp-for="Commentaire.Contenu" class="form-label">@Html.DisplayNameFor(m => m.Commentaire.Contenu)<span class="text-danger">*</span></label>
                            </div>

                            <!-- Colonne pour les champs de saisie -->
                            <div class="col-12 col-md-9">
                                <!-- Labels visibles uniquement sur petits écrans -->
                                <div class="d-md-none">
                                    <label asp-for="Commentaire.Auteur" class="form-label">@Html.DisplayNameFor(m => m.Commentaire.Auteur)<span class="text-danger">*</span></label>
                                </div>
                                <input asp-for="Commentaire.Auteur" class="form-control mb-2" placeholder="Votre nom (exemple : Emmanuel)" />
                                <span asp-validation-for="Commentaire.Auteur" class="text-danger"></span>

                                <!-- Labels visibles uniquement sur petits écrans -->
                                <div class="d-md-none">
                                    <label asp-for="Commentaire.Contenu" class="form-label">@Html.DisplayNameFor(m => m.Commentaire.Contenu)<span class="text-danger">*</span></label>
                                </div>
                                <textarea asp-for="Commentaire.Contenu" class="form-control mb-2" rows="3" placeholder="Votre commentaire..."></textarea>
                                <span asp-validation-for="Commentaire.Contenu" class="text-danger"></span>

                                <input asp-for="Commentaire.IdTitre" type="hidden" value="@Model.Titre.IdTitre" />

                                <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="mt-4">
                <h3 class="h7">Commentaires</h3>
                @if (Model.Titre.Commentaires.Count < 1)
                {
                    <p>Aucun commentaire. Soyez le premier à réagir !</p>
                }
                else
                {
                    foreach (var commentaire in Model.Titre.Commentaires)
                    {
                        <div class="row mb-3">
                            <div class="col-12 col-md-1 d-none d-md-block offset-md-1">
                                <img src="~/images/avatar.png" class="img-fluid rounded-circle" alt="avatar">
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="d-flex align-items-center mb-2">
                                    <img src="~/images/avatar.png" class="img-fluid rounded-circle me-2 d-md-none w-40 h-40" alt="avatar">
                                    <p class="mb-0 text-muted h6">
                                        <strong class="text-dark">@commentaire.Auteur</strong>, le
                                        @commentaire.DateCreation.ToString("dd/MM/yyyy à HH:mm:ss")
                                    </p>
                                </div>
                                <p>@commentaire.Contenu</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-12 col-lg-2">
            @await Component.InvokeAsync("StylesSidebar")
        </div>
    </div>
</div>