@using Webzine.Entity;
@model Webzine.WebApplication.Areas.Administration.ViewModels.CreationAndEditionTitreModel

@{
    Artiste artiste = new();
    this.ViewBag.Title = "Creation d'un titre";
}

<h1 class="mb-4">Ajouter un titre</h1>
<hr />

<form asp-controller="Titre" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Titre.DateCreation" value=@DateTime.Now />
    <input type="hidden" asp-for="Titre.IdTitre" value="@Model.Titre.IdTitre" />
    <div class="row g-3">
        <div class="col-sm-12">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2">
                    <label asp-for="@artiste.Nom" class="col-form-label"></label><label class="text-danger">*</label>
                </div>
                <div class="col-sm-10">
                    <select asp-for="Titre.IdArtiste" asp-items="@(new SelectList(Model.Artistes, nameof(Model.Titre.Artiste.IdArtiste), nameof(artiste.Nom)))" class="form-select">
                        <option value="-1" selected>Sélectionnez un artiste</option>
                    </select>
                    <span asp-validation-for="Titre.IdArtiste" class="text-danger"></span>
                </div>
            </div>

            <form-champ asp-for="Titre.Libelle"></form-champ>

            <form-champ asp-for="Titre.Album"></form-champ>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2">
                    <label asp-for="Titre.Chronique" class="col-form-label"></label><label class="text-danger">*</label>
                </div>
                <div class="col-sm-10">
<textarea asp-for="Titre.Chronique" class="form-control" rows="9"></textarea>
                    <span asp-validation-for="Titre.Chronique" class="text-danger"></span>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2">
                    <label asp-for="Titre.DateSortie" class="col-form-label"></label><label class="text-danger">*</label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Titre.DateSortie" class="form-control" type="date" />
                    <span asp-validation-for="Titre.DateSortie" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Titre.Duree" class="col-form-label"></label><label class="text-danger">*</label>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input asp-for="Titre.Duree" class="form-control" type="number" />
                        <span class="input-group-text">secondes</span>
                    </div>
                    <span asp-validation-for="Titre.Duree" class="text-danger"></span>
                </div>
            </div>

            <form-champ asp-for="Titre.UrlJaquette"></form-champ>

            <form-champ asp-for="Titre.UrlEcoute"></form-champ>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2">
                    <label class="col-form-label">Styles</label>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        @foreach (var style in Model.Styles)
                        {
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           value="@style.IdStyle"
                                           id="style_@style.IdStyle"
                                           name="selectedStyleIds" checked="@Model.Titre.Styles.Any(s => s.Libelle == style.Libelle)">
                                    <label class="form-check-label" for="style_@style.IdStyle">@style.Libelle</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <span asp-validation-for="Titre.Styles" class="text-danger"></span>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2">
                    <label class="col-form-label">Nb de lectures</label><label class="text-danger">*</label>
                </div>
                <div class="col-sm-10">
                    <label class="form-control-plaintext">0</label>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2">
                    <label class="col-form-label">Nb de likes</label><label class="text-danger">*</label>
                </div>
                <div class="col-sm-10">
                    <label class="form-control-plaintext">0</label>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-sm-2 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</form>

<a asp-controller="Titre" asp-action="Index" class="text-decoration-none">Retour à l'administration des titres</a>