@model Webzine.WebApplication.Areas.Administration.ViewModels.AdministrationTitresModel

@{
    ViewBag.Title = "Administration Titres";
}

<h1 class="mb-4">Titres</h1>
<hr />
<a asp-action="Create" class="btn btn-primary"><b>+</b> Ajouter un nouveau titre</a>
<br />
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-secondary">
            <tr class="border-0">
                <th class="border-0">@Html.DisplayNameFor(m => m.Titre!.Artiste.Nom)</th>
                <th class="border-0">@Html.DisplayNameFor(m => m.Titre!.Libelle)</th>
                <th class="border-0 text-center">@Html.DisplayNameFor(m => m.Titre!.Duree)</th>
                <th class="border-0 text-center">@Html.DisplayNameFor(m => m.Titre!.DateSortie)</th>
                <th class="border-0 text-center"><i class="fa-solid fa-eye"></i></th>
                <th class="border-0 text-center"><i class="fa-solid fa-thumbs-up"></i></th>
                <th class="border-0 text-center"><i class="fa-solid fa-comments"></i></th>
                <th class="border-0 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var titre in Model.Titres)
            {
                <tr>
                    <td>@titre.Artiste.Nom</td>
                    <td>@titre.Libelle</td>
                    <td class="text-center">@titre.Duree</td>
                    <td class="text-center">@titre.DateSortie.ToShortDateString()</td>
                    <td class="text-end">@titre.NbLectures</td>
                    <td class="text-end">@titre.NbLikes</td>
                    <td class="text-end">@titre.Commentaires.Count</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-controller="Titre" asp-action="Edit" asp-route-id="@titre.IdTitre" class="btn btn-sm p-0 me-2 text-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-area="Administration" asp-controller="Titre" asp-action="Delete" asp-route-id="@titre.IdTitre" class="btn btn-sm p-0 text-primary">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
