@{
    this.ViewBag.Title = "Biographie " + Model.Nom;
}

@model Webzine.Entity.Artiste

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9">
            <!-- Section Artiste -->
            <div class="mb-4">
                <h1>@Model.Nom</h1>
                <hr>
                <p>@Model.Biographie</p>
            </div>

            <!-- Section Albums -->
            <div>
                <h2>Albums</h2>
                <hr>
                @{
                    var albums = Model.Titres.GroupBy(t => t.Album).ToList();
                }
                @foreach (var album in albums)
                {
                    <div class="row align-items-start mb-4">
                        <div class="col-xl-3 col-lg-4 col-md-5 text-center mb-3">
                            <div class="d-inline-block">
                                <img src="@album.First().UrlJaquette" width="200" height="200" alt="@album.Key">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7">
                            <h4>@album.Key</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="100">Durée</th>
                                            <th>Titre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var titre in album)
                                        {
                                            <tr>
                                                <td width="100">@TimeSpan.FromSeconds(titre.Duree).ToString(@"mm\:ss")</td>
                                                <td><a asp-controller="Titre" asp-action="Index" asp-route-id="@titre.IdTitre" class="text-decoration-none">@titre.Libelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Sidebar (3 colonnes) -->
        <div class="col-lg-3">
            @await Component.InvokeAsync("StylesSidebar")
        </div>
    </div>
</div>
