@{
    ViewBag.Title = "Biographie " + Model.Nom;
}

@model Webzine.Entity.Artiste

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9">
            <!-- Section Artiste -->
            <div class="mb-4">
                <h1>@Model.Nom</h1>
                <hr>
                <p>@Model.Biographie</p>
            </div>

            <!-- Section Albums -->
            <div>
                <h2>Albums</h2>
                <hr>
                @{
                    var albums = Model.Titres.GroupBy(t => t.Album).ToList();
                }
                @foreach (var album in albums)
                {
                    <div class="row align-items-start mb-4">
                        <div class="col-md-2">
                            <img src="@album.First().UrlJaquette" class="img-fluid" width="200" height="200" alt="@album.Key">
                        </div>
                        <div class="col-md-10">
                            <h4>@album.Key</h4>
                            <table class="table">
                                <tr>
                                    <th class="w-15" scope="col">Durée</th>
                                    <th scope="col">Titre</th>
                                </tr>
                                @foreach (var titre in album)
                                {
                                    <tr>
                                        <td class="w-15">@TimeSpan.FromSeconds(titre.Duree).ToString(@"mm\:ss")</td>
                                        <td><a asp-controller="Titre" asp-action="Index" asp-route-id="@titre.IdTitre" class="text-decoration-none">@titre.Libelle</a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Sidebar (3 colonnes) -->
        <div class="col-lg-3">
            @await Component.InvokeAsync("StylesSidebar")
        </div>
    </div>
</div>
